{% extends "coderedcms/blocks/base_block.html" %}
{% load wagtailcore_tags %}
{% block block_render %}
<div class="latest-articles-timeline">
  {% for page in pages %}
  {% with page=page.specific %}
  <article>
    <a href="{% pageurl page %}">
      <div class="title">{{page.title}}</h1>
      <!-- <p>{{page.caption}}</p> -->
      <div class="date-published">{{page.seo_published_at}}</div>
      <div>{{page.classifier_terms.1.slug}}</div>
    </a>
  </article>
  {% endwith %}
  {% endfor %}
</div>
{% endblock %}